In [2]:
import yfinance as yf
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [6]:
nvda = yf.Ticker("NVDA")
nvda = nvda.history(period="max")

del nvda['Dividends']
del nvda['Stock Splits']

nvda

,Open,High,Low,Close,Volume
Date,,,,,
1999-01-22 00:00:00-05:00,0.040122,0.044779,0.035585,0.037615,2714688000
1999-01-25 00:00:00-05:00,0.040600,0.042033,0.037615,0.041556,510480000
1999-01-26 00:00:00-05:00,0.042033,0.042869,0.037734,0.038331,343200000
1999-01-27 00:00:00-05:00,0.038451,0.039406,0.036301,0.038212,244368000
1999-01-28 00:00:00-05:00,0.038212,0.038451,0.037854,0.038092,227520000
...,...,...,...,...,...
2024-12-20 00:00:00-05:00,129.809998,135.279999,128.220001,134.699997,306528600
2024-12-23 00:00:00-05:00,136.279999,139.789993,135.119995,139.669998,176053500
2024-12-24 00:00:00-05:00,140.000000,141.899994,138.649994,140.220001,105157000
2024-12-26 00:00:00-05:00,139.699997,140.850006,137.729996,139.929993,116205600
2024-12-27 00:00:00-05:00,138.550003,139.020004,134.710007,137.009995,170291000