In [3]:
import yfinance as yf
import pandas as pd
import os

In [8]:
sp500 = yf.Ticker("NVDA")
sp500 = sp500.history(period="max")
sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1999-01-22 00:00:00-05:00,0.040122,0.044779,0.035585,0.037615,2714688000,0.0,0.0
1999-01-25 00:00:00-05:00,0.040600,0.042033,0.037615,0.041556,510480000,0.0,0.0
1999-01-26 00:00:00-05:00,0.042033,0.042869,0.037734,0.038331,343200000,0.0,0.0
1999-01-27 00:00:00-05:00,0.038451,0.039406,0.036301,0.038212,244368000,0.0,0.0
1999-01-28 00:00:00-05:00,0.038212,0.038451,0.037854,0.038092,227520000,0.0,0.0
...,...,...,...,...,...,...,...
2024-12-12 00:00:00-05:00,137.080002,138.440002,135.800003,137.339996,159211400,0.0,0.0
2024-12-13 00:00:00-05:00,138.940002,139.600006,132.539993,134.250000,231514900,0.0,0.0
2024-12-16 00:00:00-05:00,134.179993,134.399994,130.419998,132.000000,237951100,0.0,0.0
2024-12-17 00:00:00-05:00,129.089996,131.589996,126.860001,130.389999,259410300,0.0,0.0
2024-12-18 00:00:00-05:00,133.869995,136.699997,128.279999,128.910004,264542062,0.0,0.0

In [9]:
sp500["Tomorrow"] = sp500["Close"].shift(-1)

In [10]:
sp500["Target"] = (sp500["Tomorrow"] > sp500["Close"]).astype(int)